/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 2rem 0 2rem;
  text-align: center;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 3rem;
}

.heroContent {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.heroImageImg {
  width: 100%;
  height: auto;
  display: block;
  max-width: 900px;
}

@media screen and (max-width: 1440px) {
  .heroContent {
    flex-direction: column;
  }

  .heroImageImg {
    max-width: 100%;
  }
}

.heroImage {
  flex: 0 0 auto;
  width: 100%;
  max-width: 900px;
}

.heroAbout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0;
  min-width: 350px;
  color: var(--ifm-color-primary);
  font-family: "Ubuntu Mono", monospace;
  font-weight: 100;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
  margin: 0;
  margin-top: 1rem;
  padding-bottom: 1.6rem;
}

.heroAbout a {
  color: var(--ifm-color-primary-darker);
  font-weight: 600;
}

.heroTitle {
  color: var(--ifm-font-color-base);
  margin-bottom: 0;
  font-family: "Doto", sans-serif;
  font-size: 3rem;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

.heroSubtitle {
  color: var(--ifm-font-color-secondary);
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
  font-size: 1.3rem;
  margin-top: 0rem;
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .heroTitle {
    font-size: 2.5rem;
  }

  .heroSubtitle {
    font-size: 1.1rem;
  }

  .heroContent {
    padding: 0;
  }
}

.buttonGettingStarted {
  border: 1px solid var(--ifm-color-primary-darker);
  outline: none;
  background-color: var(--ifm-background-color);
  padding: 10px 20px;
  margin: auto;
  font-weight: 800;
  font-family: "Doto", sans-serif;
  font-size: 1.2rem;
  color: var(--ifm-font-color-base);
  border-radius: 6px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px var(--ifm-color-primary-darker);
}

.buttonGettingStarted:hover {
  text-decoration: none;
  background-color: var(--ifm-font-color-base);
  color: var(--ifm-background-color);
}

.buttonGettingStarted:active {
  box-shadow: 0px 0px 0px 0px var(--ifm-font-color-base);
  transform: translateY(5px);
}


@media screen and (max-width: 996px) {
  .heroAbout {
    padding-bottom: 0;
  }

  .buttons {
    position: static;
    margin-top: 1rem;
    justify-content: center;
  }
}

.buttons {
  width: 100%;
}

.buttons a {
  width: 100%;
  max-width: 350px;
  text-align: center;
  display: block;
}

.main {
  margin-bottom: 3rem;
}
