.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.featureImage {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  border-radius: 6px;
  border: 3px dotted var(--ifm-font-color-secondary);
}

.featureSvg {
  height: 120px;
  width: 120px;
}

html[data-theme='dark'] .featureSvg {
  filter: invert(1);
}

.titleContainer {
  max-width: 500px;
  text-align: center;
}

.titleContainer a {
  color: var(--ifm-color-primary-darkest);
}

.titleContainer a:hover {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

.featureItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 996px) {
  .featuresRow {
    gap: 2rem;
  }
}
