[metadata]
name = "pj"
description = "Fast project directory finder that searches your filesystem for project directories"
requirements = ["pj"]

[source]
command = [
  "pj --icons --ansi --shorten",
  "pj --icons --ansi --shorten --no-nested"
]
ansi = true

[preview]
command = "ls -la --color=always \"$(echo {strip_ansi|split: :1} | sed 's|^~|$HOME|')\""

[keybindings]
enter = "actions:expand"
ctrl-e = "actions:edit"
ctrl-t = "actions:connect"
ctrl-n = "actions:new_tab"
ctrl-r = ["actions:clear_cache", "reload_source"]

[actions.expand]
description = "Expand to absolute path"
command = "echo {strip_ansi|split: :1} | sed 's|^~|$HOME|'"
mode = "execute"

[actions.edit]
description = "Open in $EDITOR"
command = "$EDITOR \"$(echo {strip_ansi|split: :1} | sed 's|^~|$HOME|')\""
mode = "execute"

# Requires tmux
[actions.connect]
description = "Connect to selected tmux session"
command = "sh -c 'n=$(basename $1|tr .: _); tmux new -ds $n -c $1 2>/dev/null; tmux switchc -t $n' _ \"$(echo {strip_ansi|split: :1} | sed 's|^~|$HOME|')\""
mode = "execute"

# Requires tmux
[actions.new_tab]
description = "Open in new tmux tab"
command = "tmux new-window -c \"$(echo {strip_ansi|split: :1} | sed 's|^~|$HOME|')\""
mode = "execute"

[actions.clear_cache]
description = "Clear pj cache"
command = "pj --clear-cache"
mode = "fork"
